<div class="container">
    <p>Was the interview time and manner (online or in-person) clear to you?</p>
    <form #f="ngForm">
        <div>
            <input type="radio" value=true name="q1Answer" [(ngModel)]="q1Answer"> Yes
        </div>
        <div>
            <input type="radio" value=false name="q1Answer" [(ngModel)]="q1Answer"> No
        </div>
        <div>
            <button [disabled]="q1Answer == undefined" class="btn btn-primary" (click)="saveAndProceed();">Next</button>
        </div>
     </form>
</div>