.header {
    width: 100%;
    background-color: skyblue;
    height: 5rem;
    top: 0;
  }

  .header p.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .logo {
      margin-left: 37rem;
      padding-top: 2rem;
  }