<div class="container">
    <p>Was the person conducting the interview or discussion on time?</p>
    <form #f="ngForm">
        <div>
            <input type="radio" value=true name="q2Answer" [(ngModel)]="q2Answer"> Yes
        </div>
        <div>
            <input type="radio" value=false name="q2Answer" [(ngModel)]="q2Answer"> No
        </div>
        <div>
            <button [disabled]="q2Answer == undefined" class="btn btn-primary" (click)="saveAndProceed();">Next</button>
        </div>
     </form>
</div>